.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroller {
  height: 40vh !important;
  max-width: 50% !important;
  margin: 1rem auto !important;
  padding: 10px !important;
}

.msg-content {
  position: relative;
  margin-bottom: 3px;
}

.msg-content-left {
  color: #000 !important;
  text-align: left !important;
  border-bottom-left-radius: 0 !important;
}

.msg-content-right {
  color: #fff !important;
  text-align: left !important;
  border-bottom-right-radius: 0 !important;
}

.msg-timestamp {
  position: absolute;
  margin: 0;
  top: 0;
  right: 10px;
  font-size: 10px;
  color: #fff !important;
}

.msg-content-left .msg-timestamp {
  top: 0;
  left: 10px;
  color: #000 !important;
}

.msg-content-right .msg-timestamp {
  top: 0;
  left: 10px;
  color: #fff !important;
}

.search-field {
  width: 40% !important;
}



/*Responsive*/

@media only screen and (max-width: 991px) {
  .scroller {
    height: 60vh !important;
    max-width: 100% !important;
  }
  
  .msg-content {
    min-width: 30% !important;
  }
  
  .search-field {
    width: 85% !important;
  }
  
}